<form name="editor" novalidate>
	<div class="row columns small-12">
		<label>Title
			<input type="text" name="title" placeholder="Page Title" value="<%- doc.page.title %>" ng-model="title">
		</label>
	</div>
	<div class="row columns small-12">
		<label>Content
			<text-angular
					name="content"
					rows="8"
					ta-toolbar-button-class="button"
					ta-toolbar-group-class="button-group"
					ta-text-editor-class="wysiwyg-editor"><%- doc.page.content %></text-angular>
		</label>
	</div>
	<div class="row columns small-12">
		<label>Path
			<input type="text" name="path" placeholder="Page Title" value="<%- doc.page.path %>" ng-model="path">
		</label>
	</div>

	<div class="row columns small-12">
		<button type="button" class="success button">Save</button>
	</div>
</form>