<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<base href="/admin">
	<title>Bolt Admin</title>

	<link rel="stylesheet" href="/css/admin.css">
</head>
<body bolt-app="bolt.admin" class="blue">
<nav-bar src="/admin/getMainNavBar" ng-cloak></nav-bar>
<panel
		ng-cloak
		width="15" class="leftPanel"
		src="/admin/getAdminPanel" load-content-on="AdminPanelOpen"
		hide-on="AdminClearAll,AdminClearLeft"
		state-hide="leftPanelHide"
		state-data="leftPanelData"
>
	<badge
			ng-hide="!loadContentOn.badge"
			title="{{loadContentOn.badge.title}}"
			icon-src="{{loadContentOn.badge.iconSrc}}"
	></badge>

	<ul class="menu vertical" ng-hide="!loadContentOn.menu">
		<li ng-repeat="item in loadContentOn.menu">
			<button class="button" ng-click="panel.doAction(item)">
				<img ng-src="{{item.iconSrc}}" ng-hide="!item.iconSrc">{{item.title}}
			</button>
		</li>
	</ul>
</panel>
<panel
		ng-cloak
		width="30" class="middlePanel1"
		load-content-on="AdminPanel2Open"
		hide-on="AdminClearAll,AdminClearMiddle1"
		state-hide="middlePanel1Hide"
		state-data="middlePanel1Data"
>
	<h2>{{loadContentOn.title}}</h2>

	<ul class="menu vertical" ng-hide="!loadContentOn.menu">
		<li ng-repeat="item in loadContentOn.menu">
			<button class="button" ng-click="panel.doAction(item)">
				<img ng-src="{{item.iconSrc}}" ng-hide="!item.iconSrc">
				<div class="menu-item-details">
					<div class="menu-item-title" ng-hide="!item.title">{{item.title}}</div>
					<div class="menu-item-subtitle" ng-hide="!item.subTitle">{{item.subTitle}}</div>
				</div>
			</button>
		</li>
	</ul>
</panel>
<panel
		ng-cloak
		width="45" class="middlePanel2"
		load-content-on="EditorPanelOpen"
		hide-on="AdminClearAll,EditorPanelClear"
		state-hide="editorPanel1Hide"
		state-data="editorPanel1Data"
></panel>
</body>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jqte/jQuery-TE_v.1.3.2/jquery-te-1.3.2.min.js"></script>
<script src="/lib/what-input/what-input.min.js"></script>
<script src="/lib/foundation-sites/dist/foundation.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src='/lib/tinymce-dist/tinymce.min.js'></script>
<script src='/lib/angular-auto-value/angular-auto-value.min.js'></script>
<script src='/lib/angular-ui-tinymce/src/tinymce.js'></script>
<script src="/scripts/admin.min.js"></script>
</html>