@import "../../public/lib/angular/angular-csp.css";
@import "./_settings";
@import "foundation";
@include foundation-everything;
@import "./test";

body, html {
	padding: 0;
	margin: 0;
	border: 0;
}

.top-bar {
	border-bottom: 1px solid $black;
}

article {
	padding: 0;
	margin: 0;
	border: 0;
}

menu-sorter, .menu-sorter  {
	overflow-y: hidden;
	overflow-x: scroll;

	h1 {
		margin: 0;
		margin-left: $spacer;
		display: inline-block;
		font-size: 1.2em;
	}

	ul.menu-sorter-menu {
		column-width: $menu-sorter-col-width;
		-webkit-column-width: $menu-sorter-col-width;
		-moz-column-width: $menu-sorter-col-width;
		padding: 0;
		margin: 0;
		border: 0;

		li {
			height: $menu-sorter-item-height;
			overflow: hidden;
			border-right: $dropdownmenu-border;
			border-top: $dropdownmenu-border;
			background: $dropdownmenu-background;
			padding: ($spacer / 4);

			&.first-col {
				border-left: $dropdownmenu-border;
			}

			&.last-row {
				border-bottom: $dropdownmenu-border;
			}
		}
	}
}

.editor {
	background-color: lighten($primary-color, 40%);
	height: 100%;
}

.selector-menu {
	background-color: lighten($primary-color, 20%);
	padding: 0;
	border-right: 1px solid $black;
	height: 100%;

	ul {
		height: 100%;

		li {
			border-bottom: 1px solid $white;

			a {
				color:darken($white, 5%);
			}

			a:hover {
				color: $white;
			}
		}
	}
}